@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  height: calc(100vh);
}

.cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  fill: #eeeeee;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

@layer utilities {
  .app {
    @apply p-4;
  }

  .children {
    @apply flex flex-col my-2;
  }

  .page-wrapper {
    @apply snap-y snap-mandatory h-screen overflow-y-auto;
  }

  .page {
    @apply flex flex-col container mx-auto h-full snap-start mt-4 px-2 sm:px-8;
  }

  .content {
    @apply flex flex-col justify-center items-center h-full;
  }

  .flex-wrapper {
    @apply flex flex-col sm:flex-row justify-center items-center h-full gap-4;
  }

  .hoverable {
    @apply text-transparent border-b-2 border-accent hover:text-accent transition-all duration-300;
  }

  .social {
    @apply text-light text-xl hover:text-accent transition-all duration-300 ease-in-out;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground cursor-default sm:cursor-none;
  }
  h1 {
    @apply text-2xl lg:text-3xl xl:text-4xl text-light text-center sm:text-right;
  }
}
